<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Covalence Store</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles/styles.css"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:700" rel="stylesheet">
</head>
<body>
    <!--NavBar-->
    <nav class="navbar navbar-inverse fixed">
        <ul class="nav navbar-nav">
            <li><a href="#/"><img class="navbar-logo" src="../assets/Newlogo.png" height= "28px" width= "150px"></a></li>
            <li><p class="bar"> | </p>
            <li><a href="#/apparel?category=apparel">APPAREL</a></li>
            <li><a href="#/misc?category=misc">MISC</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#/invoice">Invoices</a></li>
                <span class="fa-stack fa-5x has-badge" data-count="888">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-bell fa-stack-1x fa-inverse"></i>
                </span>
            <li data-toggle="collapse" data-target="#shopping-cart"><a>Cart</a></li>
        </ul>
    </nav>
    </div>

    <!-- Sidebar  -->
    <div class="cart-wrapper" ng-hide="hideCart">
        <div id='shopping-cart' class="panel panel-default collapse in width col-md-5" ng-controller="ShoppingController">
            <div class="collapse in width">
                <div class="cart-heading" data-toggle="collapse" data-target="#shopping-cart">
                    <span>Close</span>
                </div>
                <div class="panel-content">
                    <h3>Your Shopping Cart</h3>
                    <div class="shopping-list" ng-repeat="item in cart track by $index">
                        <div class="row">
                            <img ng-src="../../assets/{{ item.image }}"  class="col-md-4">
                            <span class="item-names col-md-5">{{item.name}}</span>
                            <span class="item-total col-md-3">{{ item.price * .0100 | currency:"$":0 }}</span>
                            <button class="item-remove" ng-click="removeItem($index, item)">Remove</button>
                        </div>
                    </div>
                <hr>
                <h3 class="total-price">Total Price</h3>
                <span class="total-price pull-right">{{ total * .01 | currency:"$":0 }}</span>
                <p class="center-text">Taxes and fees included at checkout.</p>
                <button id="checkout" ng-click="checkout()">Check Out</button>
                </div>
            </div>
        </div>
    </div>

    <div ng-view>
    </div>


    
    <!--Footer-->
    <!-- Move logo inside of footer -->

    <div class="footer" ng-hide="hideFooter">
        <footer class="panel-footer">
            <img class="footer-logo" src="../assets/logo-footer.svg" height= "28px" width= "150px">
                <p class="footer-text">Copyright Covalence LLC</p></footer>
    </div>
</body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-resource.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-route.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="app.js"></script>
</html>