body {
    width: 1200px;
    height: 1200px;
}
/*********Fixed Items**********/
/* Navbar */
.navbar-inverse {
    opacity: .85;
    background-color: #222;
    border-color: #080808;
}

/* Footer */
.panel-footer {
    font-weight: bold;
    color: lightgray;
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}

.footer-text  {
    margin-left: 110em;
    position: fixed;
}
/*********Homepage**********/

.navbar-nav li a 
    {
    font-family: 'Ubuntu', sans-serif;
}

.navbar-logo {
    margin-left: 0em;
    margin-top: 0em;
}

.landing {
    background-image: url(../assets/covalence-store-home.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    height: 1000px;
    width: 100%;
}

 
/* Welcome */
.welcome {
    margin-top: 24em;
    margin-left: 20em;
}

.greeting   {  
    font-size: 32px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 3px;
}

.btn-primary {
    font-family: 'Ubuntu', sans-serif;
    width: 165px;
    color: #fff;
    background-color: #4CB5C6;
    border-color: #4CB5C6;
    height: 52px;
}

/*******HEADERS IN NAVBAR*******/

li:hover {
    text-decoration: underline;
    color: #4CB5C6;
}
img {
    margin-top: 15px;
    vertical-align: middle;
    float: left;
    margin-left: 30px;
    margin-right: 40px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #4CB5C6;
}

.bar {
    font-size: 27px;
    color: #4CB5C6;
    margin: 0 0 10px;
    font-weight: 27px;
    font-weight: 27px;
    font-weight: 500;
}

/* Apparel */
.apparel-header {
    margin-left: 0em;
    margin-top: -9em;
    width: 100%;
}

/* MISC */
.misc-header {
    margin-left: 0em;
    margin-top: -9em;
    width: 100%;
}

/* Checkout */
/* .col-md-2 {
    border: 2px solid black;
    border-radius: 5px;
}
.form-control {
    width: 25%;
} */

/* Shopping Cart  */
#shopping-cart{
    float: right;
    font-family: 'Ubuntu', sans-serif;
    padding: 0px;
    width: 400px;
}
.shopping-list>img{
    margin-top: 0;
}
.cart-heading{
    background-color: #4CB5C6;
    height: 68px;
    padding: 20px;
    font-size: 16px;
    color: white;
}
.panel-content{
    background-color: #f5f5f5;
    padding: 20px;
}
.item-total{
    color: #4CB5C6;
}

.shopping-list{
    height: 50px;
    margin-bottom: 15px;
}
 .item-names{
    color: gray;
} 
#total-price{
    display: inline;
}
.pull-right{
    float: right;
}
.center-text{
    text-align: center;
}
#checkout{
    background-color: #4CB5C6;
    width: 100%;
    height: 68px;
    border: none;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 4px;
}

.item-remove{
    color: red;
    background-color: white;
    border: none;
    font-size: 10px;
    padding: 6px;
    display: block;
}
/* builds accordion */
.collapse {
  visibility: hidden;
}
.collapse.in {
  visibility: visible;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
.collapsing.width {
  -webkit-transition-property: width, visibility;
  transition-property: width, visibility;
  width: 0;
  height: auto;
}