.invoice-header{
    background-image: url('../../assets/invoice-header.jpg');
    height: 380px;
    margin-top: -5em;
    background-position-x: -312px;
    background-position-y: -409px;
}

.invoice-divs{
    text-align: center;
    margin-top: 15px;
}

.invoice-page{
    img{
        height: 50px;
    }
    margin-bottom: 60px;
}
