/* MISC */
.misc-header {
    margin-left: 0em;
    margin-top: -9em;
    width: 100%;
}

.apps{
    img{
        height: 300px;
    }
    .item-name{
        color: gray;
        padding-left: 0px;
        padding-top: 20px;
        font-weight: bold;
        font-size: 20px;
        display: inline;
    }
    .item-totals {
        color: #4CB5C6;
        text-align: right;
        font-size: 20px;
        font-weight: bold;
        float: right;
        margin-right: 32px;
    }
    .listing-text{
        margin-top: 10px;
        margin-bottom: 25px;
    }
    
    margin-top: 45px;
}
.listing:hover{
    cursor: pointer;
}