.product-detail {
    float: right;
}

.item-description {
    ul{
        display: grid;
    }
  font-family: 'Lato', sans-serif;
}
.li-text{
    text-decoration: none;
}
.li-text:hover{
    text-decoration: none;
    color: black;
}

.product-price {
    color: #4CB5C6;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
}
.product-title {
    font-family: 'Lato', sans-serif;
}

.single-item-name {
        font-family: 'Lato', sans-serif;
}

.single-item {
    margin-right: -110.2px;
    margin-left: -6px;
    margin-top: 5em;
}

.product-image {
    width: 30em;
    height: 30em;
}

.btn-warning {
    font-family: Lato;
    color: #fff;
    background-color: #4CB5C6;
    border-color: #4CB5C6;
}

