.product-detail {
    float: right;
}

.item-description {
    ul{
    display: grid;
    margin-top: 0;
    margin-bottom: 10px;
    padding-right: 6em;
    }
    font-family: 'Bree Serif', serif;
    color: darkgray;
}
    .li-text {
    color: darkgray;
    text-decoration: none;
    font-family: 'Lato';
}
.li-text:hover{
    text-decoration: none;
    color: black;
}

.product-price {
    color: #4CB5C6;
    font-family: 'Bree Serif', serif;
    font-weight: bolder;
}
.product-title {
    font-family: 'Bree Serif', serif;
}

.single-item-name {
    font-family: 'Bree Serif', serif;
    color: #767A86;
}

.single-item {
    margin-right: -110.2px;
    margin-left: -6px;
    margin-top: 5em;
    margin-bottom: 85px;
}

.product-image {
    width: 30em;
    height: 30em;
}

.btn-warning {
    font-family: Lato;
    color: #fff;
    background-color: #4CB5C6;
    border-color: #4CB5C6;
}

