.product-detail {
    float: right;
}

.item-description {
  font-family: 'Lato', sans-serif;
}

.product-price {
    font-family: 'Lato', sans-serif;
}

.product-title {
    font-family: 'Lato', sans-serif;
}

.single-item-name {
        font-family: 'Lato', sans-serif;
}

.single-item {
    margin-right: -110.2px;
    margin-left: -6px;
    margin-top: 5em;
}

.product-image {
    width: 30em;
    height: 30em;
}