/* Apparel */
.apparel-header {
  margin-left: 0em;
  margin-top: -9em;
  width: 100%;
}
/* Welcome */
.welcome {
  margin-top: 24em;
  margin-left: 20em;
}
.greeting {
  margin-left: 4em;
  margin-top: 8em;
  font-size: 32px;
  color: white;
  font-family: 'Ubuntu', sans-serif;
}
.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 3px;
}
.btn-primary {
  margin-left: 7em;
  font-family: 'Ubuntu', sans-serif;
  width: 165px;
  color: #fff;
  background-color: #4CB5C6;
  border-color: #4CB5C6;
  height: 52px;
}
/* MISC */
.misc-header {
  margin-left: 0em;
  margin-top: -9em;
  width: 100%;
}
/* Shopping Cart  */
.cart-wrapper {
  position: absolute;
  width: 100%;
}
#shopping-cart {
  float: right;
  font-family: 'Lato', serif;
  padding: 0px;
}
#shopping-cart .collapse {
  visibility: hidden;
}
#shopping-cart .collapse.in {
  visibility: visible;
}
#shopping-cart .collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
#shopping-cart .collapsing.width {
  -webkit-transition-property: width, visibility;
  transition-property: width, visibility;
  width: 0;
  height: auto;
}
#shopping-cart img {
  margin-top: 0;
}
.cart-heading {
  background-color: #4CB5C6;
  height: 68px;
  padding: 20px;
  font-size: 16px;
  color: white;
}
.panel-content {
  background-color: #f5f5f5;
  padding: 25px;
}
.item-total {
  color: #4CB5C6;
  text-align: right;
  font-size: large;
  font-weight: bold;
  padding-top: 20px;
  padding-right: 25px;
}
.shopping-list {
  margin-bottom: 15px;
}
.item-names {
  color: gray;
  padding-left: 0px;
  padding-top: 20px;
  font-weight: bold;
  font-size: 24px;
}
.total-price {
  display: inline;
  font-size: x-large;
  font-weight: bold;
}
.center-text {
  text-align: center;
}
#checkout {
  background-color: #4CB5C6;
  width: 100%;
  height: 68px;
  border: none;
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 4px;
}
.item-remove {
  color: red;
  background-color: white;
  border: none;
  padding: 6px;
  display: block;
  margin-top: 110px;
  font-size: 15px;
}
/* Checkout */
.form-control {
  background-color: lightgrey;
}
#useremail {
  width: 33%;
  margin-left: 110px;
}
#firstname1 {
  margin-left: 27px;
}
#inputcompany {
  margin-left: 110px;
}
#address1 {
  margin-left: 23px;
}
#namelabel {
  margin-left: 40px;
}
#addresslabel {
  margin-left: 28px;
}
#cityinput {
  margin-left: 110px;
}
#zipcode {
  margin-left: 110px;
}
#cCard {
  width: 33%;
  margin-left: 110px;
}
#expirationlabel {
  margin-left: 110px;
}
.checkout-title {
  font-family: Lato;
  font-size: 24px;
}
.checkout-container {
  background-color: white;
  border: 3px solid black;
}
