<section id="checkoutinfo">
    <h1>Your Email</h1>
    <div class="row">
        <div class="col-md-8">noemail@gmail.com</div>
        </div>

        <h1>Your Billing Address</h1>
        <h3>Name</h3>
        <div class="row">
        <div class="col-md-2">First</div>
        <div class="col-md-2">Last</div>
        </br>
        <div class="col-md-2">Company(optional)</div>
        <div class="col-md-2">Phone</div>
        </div>
        
        <h3>Address</h3>
        <div class="row">
        <div class="col-md-4">Address 1</div>
        <div class="col-md-4">Address 2(Optional)</div>
        </br>
        <div class="col-md-2">City</div>
        <div class="col-md-2">State</div>
        </br>
        <div class="col-md-2">ZipCode</div>
        <div class="col-md-2">Country</div>

        




        
    </div>
    <h3>Your Payment Information</h3>
</section>

<section id="shoppingcart">
    <h1>Your Shopping Cart</h1>
    </br>
    <h1>Order Summary</h1>
    <p>Order Total: </h1>
</section>

<p>Almost done! Click the submit button to process your payment.</p>