<section id="checkoutinfo">
    <h1>Your Email</h1>
    <div class="row">
        <div class="col-md-8">noemail@gmail.com</div>
        </div>

        <h1>Your Billing Address</h1>
        <h3>Name</h3>
        <div class="row">
        <div class="col-md-6">First</div>
        <div class="col-md-6">Last</div>
        </br>
        <div class="col-md-6">Company(optional)</div>
        <div class="col-md-6">Phone</div>
        </div>
        </br>
        <h3>Address</h3>
        <div class="row">
        <div class="col-md-8">Address 1</div>
        <div class="col-md-4">Address 2(Optional)</div>
        </br>
        <div class="col-md-6">City</div>
        <div class="col-md-6">State</div>
        </br>
        <div class="col-md-4">ZipCode</div>
        <div class="col-md-8">Country</div>
    </div>
</section>

<section id="shoppingcart">
<h1>Your Shopping Cart</h1>
</br>
<h1>Order Summary</h1>
<p>Order Total: </h1>
</section>