<div ng-controller="MerchandiseController">
    <img src="../assets/covalence-store-misc-hero.jpg" class="misc-header" style="width:100%;"> 


<div class="container">
    <div class="apps row">
        <div ng-repeat="items in merch" class="col-md-4 listing" ng-click="singlePath(items.id)">
            <img ng-src="../../assets/{{items.image}}">
            <br>
            <div class="listing-text">
                <span class="item-name">{{ items.name }}</span>
                <span class="item-totals">{{ items.price * .01 | currency:"$":0 }}</span>
            </div>
        </div>
    </div>
</div>
</div>