<div ng-controller="SingleController">
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img ng-src="../../assets/{{ oneItem.image }}" class="product-image">
            <h1 class="product-title">{{ oneItem.title }}</h1><br/>
            <p class="product-detail">{{ oneItem.description }}</p>
            <p class="product-price">{{ oneItem.price * .0100 | currency:"$":0 }}</p>
            <button ng-click="saveToCart(oneItem)" class="btn btn-warning center">Add to cart</button>
            <button ng-click="emptyStorage()">EMPTY LOCAL STORAGE</button>
            <button ng-click="initializeStorage()">INITIALIZE STORAGE</button>
        </div>
    </div>
</div>


    
