<div class="thanks-header">
</div>

<div class="row thanks-text">
    <h2 class="col-md-12">Covalence thanks you for your purchase!</h2>
    <h4 class="col-md-12">You will receive your confirmation email shortly. Please allow up to 2 weeks for shipping.</h4>
    <p class="col-md-12">If you have any questions about your order we can be reached at <strong><a href="mailto:orders@covalencestore.io">orders@covalencestore.io </a></strong> at <strong>205.555.5555</strong></p>
    <p class="col-md-12">Know someone who'd be interested in our programs? Have them checkout our <a href="https://covalence.io/">website</a>!</p>
</div>